body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 222, 188);
    background-image: url(../images/Know\ The\ Advantages\ Of\ Getting\ Chinese\ Interpretation\ Services.jpeg );
    background-repeat: no-repeat;
    background-position: center ; 
    
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #771011;
    color: #fff;
    padding-top: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile h2 {
    margin-top: 10px;
}

.sidebar h2 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #e8b1b1aa;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #333;
}
